body {
    margin: 0;
    font-family: sans-serif;
}

div, body {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* abrebiacion, abarca las dos anteriores
    flex-flow: column wrap;
    */
    border: 2px solid #000;
    margin: 20px;
}

.flex-item {
    height: 60px;
    width: 100px;
    background-color: #911;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.flex-item:first-child {
    background-color: #f77;
}

.flex-item:last-child {
    background-color: #000;
}